{% extends 'base.html.twig' %}

{% block title %}Hello InicioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/laragon/www/u/src/Controller/InicioController.php</code></li>
        <li>Your template at <code>C:/laragon/www/u/templates/inicio/index.html.twig</code></li>
    </ul>
</div>
{#{ dump(cargaProfesor) }#}
<!-- Nueva Sección de datos del cliente-->
<div class="boxBlue">
    <div class="head-title">
        Carga Profesor
    </div><br>
    <div class="row fix-padding-left-cell fix-padding-right-cell">
        <div class="col-lg-12 col-sm-12 row-primax">
            <div id="divTablaCargaProfesor">
                <table id="tablaCargaProfesor">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">id_grado</th>
                            <th scope="col">id_materia</th>
                            <th scope="col">id_empleado</th>
                        </tr>
                    </thead>
                    <tbody id="dataCargaProfesor">
                        {% for carga in cargaProfesor %}
                            <tr>
                                <td>{{ carga.id }}</td>
                                <td>{{ carga.idgrado }}</td>
                                <td>{{ carga.idmateria }}</td>
                                <td>{{ carga.idempleado }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br>
<!-- Fin Nueva Sección de datos del cliente -->
{% endblock %}
